USE [HotelManagement]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 02-03-2026 01:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[AppID] [int] IDENTITY(1,1) NOT NULL,
	[PatientName] [varchar](100) NULL,
	[DoctorName] [varchar](100) NULL,
	[AppDate] [datetime] NULL,
	[Status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[AppID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([AppID], [PatientName], [DoctorName], [AppDate], [Status]) VALUES (1, N'Rahul Kale', N'Dr. Deshmukh (Orthopedic)', CAST(N'2026-03-03T13:28:57.597' AS DateTime), N'Pending')
INSERT [dbo].[Appointments] ([AppID], [PatientName], [DoctorName], [AppDate], [Status]) VALUES (2, N'Amit  Patil', N'Dr. Patil (General)', CAST(N'2026-03-04T13:30:31.457' AS DateTime), N'Confirmed')
INSERT [dbo].[Appointments] ([AppID], [PatientName], [DoctorName], [AppDate], [Status]) VALUES (3, N'Vikram Singh', N'Dr. Sharma (Cardiologist)', CAST(N'2026-03-09T13:31:23.657' AS DateTime), N'Pending')
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT ('Pending') FOR [Status]
GO
